body{
background-color: #fff0ff;
opacity: 1;
transition: 1s opacity;
}
body.fade-out {
opacity: 0;
transition: none;
}
.img{
border-radius: 3px;
}
.left{
float:left;
}
.right{
float:right;
}

.center {
  display: flex;
  justify-content: center;
    }
.navbar-brand{
font-family:'Oswald', sans-serif;
color: black!important;
font-size: 120%;

}
@media (min-width: 768px) {
.navbar.navbar-default{
background-color: #d6bee0;
border-radius:3px;
border-color: black;
border-width: 2px;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
max-width:80%;
font-size: 130%;
}
}
.navbar.navbar-default{
background-color: #d6bee0;
border-radius:3px;
border-color: black;
border-width: 2px;
}
.navbar-nav > li>a{
font-family:'Oswald', sans-serif;
color: black!important;
font-weight: bold;
padding-top: 5px!important;
padding-bottom: 5px!important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
background-color:white;
}

@media (min-width: 768px) {
.navbar .navbar-nav {
display: inline-block;
float: none;
vertical-align: top;
}
}
.navbar .navbar-collapse {
text-align: center;
}


.navbar{
  min-height: 20px!important;
}

	
.body-font{
font-family: 'Merriweather', serif;
color: black;	
	
	
}

.body-font-size{
font-size: 125%;
	
}
